this is a date operate exercise,the table is a release update of miniconda from a mirror.usually win and linux date is ture in the mirror,but moc os maybe wrong,so we want a sequential date to see how long time miniconda update.at first is some exercise of date operate basic. if want to see the function part go down directly.

In [50]:
using Dates
rightnow = Dates.Time(Dates.now())

11:17:23.344

In [2]:
armistice = Dates.DateTime(1918,11,11,11,11,11)

1918-11-11T11:11:11

In [3]:
datetoday = Dates.today()

2018-09-01

In [4]:
datetimenow = Dates.now()

2018-09-01T23:17:46.965

In [5]:
Dates.now(Dates.UTC)

2018-09-01T15:18:17.213

In [6]:
formatted_date = "Tue, 28 Jul 2015 11:43:14"

"Tue, 28 Jul 2015 11:43:14"

In [7]:
temp = Dates.DateTime(formatted_date, "e, dd u yyyy HH:MM:SS")

2015-07-28T11:43:14

In [8]:
formatted_date1="2013/10/30  11:52:00"

"2013/10/30  11:52:00"

In [12]:
d = Dates.DateTime(formatted_date1, "yyyy/mm/dd  HH:MM:SS")

2013-10-30T11:52:00

In [14]:
d.Date

LoadError: type DateTime has no field Date

In [17]:
a=Date(d)

2013-10-30

In [18]:
typeof(a)

Date

In [19]:
formatted_date2="2013/10/20  11:52:00";
d2 = Dates.DateTime(formatted_date2, "yyyy/mm/dd  HH:MM:SS")

2013-10-20T11:52:00

In [20]:
a2=Date(d2)

2013-10-20

In [22]:
a2-a

-10 days

In [23]:
d=a-a2

10 days

In [24]:
b=oneunit(d)

1 day

In [25]:
3*b

3 days

In [1]:
using CSV
fname=raw"E:tdata.csv"
dt = CSV.read(fname)
A=convert(Array,dt)

381×1 Array{Union{Missing, CategoricalString{UInt32}},2}:
 "2017/2/2 10:53"
 "2017/2/2 10:53"
 "2017/2/2 10:21"
 "2017/1/31 1:50"
 "2017/2/2 11:08"
 "2014/7/31 23:05"
 "2013/11/28 3:27"
 "2014/7/31 23:06"
 "2014/7/31 23:07"
 "2017/2/2 10:21"
 "2014/7/31 23:09"
 "2014/7/31 23:10"
 "2014/7/31 23:10"
 ⋮
 "2018/6/7 13:26"
 "2018/6/7 13:26"
 "2018/6/7 13:26"
 "2017/1/31 1:54"
 "2018/6/7 13:26"
 "2018/6/7 13:26"
 "2018/6/7 13:26"
 "2017/1/31 1:55"
 "2018/6/7 13:26"
 "2018/6/7 13:26"
 "2018/6/7 13:27"
 "2018/6/7 13:27"

In [18]:
using Dates
function str2date(simstr,format::String)
str=convert(String,simstr)
tm=Dates.DateTime(str, format)
return Date(tm)
end

str2date (generic function with 2 methods)

In [19]:
str2date("2013/10/20  11:52:00", "yyyy/mm/dd  HH:MM:SS")

2013-10-20

In [6]:
eltype(A)

Union{Missing, CategoricalString{UInt32}}

In [7]:
typeof(A[1])

CategoricalArrays.CategoricalString{UInt32}

In [8]:
a=A[1]

CategoricalArrays.CategoricalString{UInt32} "2017/2/2 10:53"

In [16]:
b = convert(String,a)

"2017/2/2 10:53"

In [21]:
str2date(A[1],"yyyy/mm/dd HH:MM")

2017-02-02

In [22]:
B=str2date.(A,"yyyy/mm/dd HH:MM")

381×1 Array{Date,2}:
 2017-02-02
 2017-02-02
 2017-02-02
 2017-01-31
 2017-02-02
 2014-07-31
 2013-11-28
 2014-07-31
 2014-07-31
 2017-02-02
 2014-07-31
 2014-07-31
 2014-07-31
 ⋮
 2018-06-07
 2018-06-07
 2018-06-07
 2017-01-31
 2018-06-07
 2018-06-07
 2018-06-07
 2017-01-31
 2018-06-07
 2018-06-07
 2018-06-07
 2018-06-07

In [27]:
C=Array{eltype(B)}(undef,1)

1-element Array{Date,1}:
 0011-09-01

In [28]:
C[1]=B[1]

2017-02-02

In [43]:
C=Array{eltype(B)}(undef,1);
C[1]=B[1];
for i=2:length(B)
    if B[i]>C[end]
    global C=[C;B[i]];
    end
end
C

14-element Array{Date,1}:
 2017-02-02
 2017-02-16
 2017-03-18
 2017-05-16
 2017-06-07
 2017-09-29
 2017-10-03
 2017-10-26
 2017-10-28
 2017-11-21
 2017-12-24
 2018-02-21
 2018-05-03
 2018-06-07

51-element Array{Date,1}:
 2017-02-02
 2017-02-02
 2014-07-31
 2017-02-02
 2017-01-31
 2014-07-31
 2014-08-12
 2014-09-23
 2014-11-22
 2015-01-29
 2015-02-26
 2017-01-31
 2016-03-30
 ⋮
 2017-06-07
 2017-09-29
 2017-10-03
 2017-10-26
 2017-10-28
 2017-11-21
 2017-12-24
 2018-02-21
 2018-05-03
 2018-06-07
 2018-06-07
 2018-06-07

In [38]:
 B[1]>B[3]

false

In [39]:
 B[1]>B[2]

false

In [40]:
B[1]==B[2]

true

In [45]:
function delunorder(B::Array)
C=Array{eltype(B)}(undef,1);
C[1]=B[1];
for i=2:length(B)
    if B[i]>C[end]
       C=[C;B[i]];
    end
end
    return C
end

delunorder (generic function with 1 method)

In [46]:
C2=delunorder(B)

14-element Array{Date,1}:
 2017-02-02
 2017-02-16
 2017-03-18
 2017-05-16
 2017-06-07
 2017-09-29
 2017-10-03
 2017-10-26
 2017-10-28
 2017-11-21
 2017-12-24
 2018-02-21
 2018-05-03
 2018-06-07

In [47]:
D1=C2[1:end-1]
D2=C2[2:end]
D=D2.-D1

13-element Array{Day,1}:
 14 days
 30 days
 59 days
 22 days
 114 days
 4 days
 23 days
 2 days
 24 days
 33 days
 59 days
 71 days
 35 days

In [48]:
T= Dates.today()

2018-09-02

In [49]:
T-B[end]

87 days

We can see in history,114 days is the longgest time of a updates,now 87 days already,maybe a update coming soon.